.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  height: 1.5em;
  border: 2px solid lightskyblue;
  border-radius: 5px;
}

.search-bar {
  border: none;
  background-color: lightgray;
}

.search-submit {
  border: none;
  background-color: #19466b;
  color: white;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
}
